// COLORS
$color-grey-background: #727272;
$color-white-color: #f8f8f8;
$color-pink: #e9c5ad;
$color-light-grey: #c5c4c3;
$color-red: #cc2a2b;
$color-black: #362823;
$color-brown: #886a59;


// FONT SIZES

$default-font-size: 1.6rem;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;





