body{
    font-family: 'Oswald', sans-serif;
    font-weight: 400; 
    color: $color-black;
}


.heading-primary{
    color: $color-black;
    font-size: 3rem;
    text-transform: uppercase;
}

.heading-secondary{
    font-style: italic;
}