body{
    font-family: 'Oswald', sans-serif;
    color: $color-black;
    line-height: 1.3;
}


.heading-primary{
    font-size: 7.2rem;
    font-weight: 400;

}

.heading-secondary{
    font-size: 3.1rem;;

    &--chronology{
        font-family: 'Times New Roman', Times, serif;
        border-bottom: #362823 solid 1px;
    }
}

.chronology{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    text-align: justify;

    &__title{
        font-size: 3.2rem;
    }
}